main{
    margin-top: 91px;
}

.btn-outline-white{
    &.active{
        border: 1px solid $primary;
        color: $primary;
        background: transparent;
    }
}

.img-class{
    max-width: initial;
    width: 100px;
    height: 100px;
    object-fit: cover;
}