.deco-box-classDetail-list {
    &::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 5px;
        background: $primary;
        left: -13px;
        top: 12px;
        transform: translateY(-50%);
    }
}

.classDetail-price{
    top: 171px;
    @include pad{
        position: relative;
        top: 0;
    }
}

.btn-forward{
    width: 32px;
    height: 32px;
}