// ----------------------------banner----------------------------

.banner{
  margin-top: 91px;
  background-color: #1C1C1C;
}

.bg-image{
  background-image: url(../images/bg_home_mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 55vh;
  // @include mobile-sm{
  //   height: 40vh;
  // }
  // @include mobile-xs{
  //   height: 35vh;
  // }
}

.bg-md-image{
  background-image: url(../images/bg_home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 260px);
  // @include pad{
  //   height: 35vh;
  // }
}


// ----------------------------main----------------------------
