// home-intro (手把手帶你) hover效果

.home-intro-hover {
    &:hover {
        background-color: #202020 !important;
        color: white !important;
        border: 1px solid $primary  !important;
        transition: all 0.3s;

        .material-icons {
            @include gradient-y;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.1s;
        }
    }
}