.btn-close-login{
    top: 30px;
    right: 24px;
    position: absolute;
}

.modal-content-width{
    max-width: 379px;
    margin: 0 auto;
    width: 100%;
}

.icon-login{
    width: 24px;
    height: 24px;
}