.text-in-border{
    &::before {
        content: attr(title);
        position: absolute;
        left: 79px;
        top: 0;
        padding: 0 8px;
        transform: translateX(-50%);
        -webkit-transform: translate(-50%, -50%);
        background-color: $proDark;
        font-size: 48px;
        color: $primary;
        font-family: "Azeret Mono";
        font-weight: bold;
    }
}
