.title-border-deco {
    &::after {
        content: "";
        position: absolute;
        background: $primary;
        width: 50px;
        height: 3px;
        left: 50%;
        bottom: -16px;
        transform: translateX(-50%);
    }
}

.title-border-deco-advantage {
    &::after {
        content: "";
        position: absolute;
        background: $primary;
        width: 50px;
        height: 3px;
        bottom: -16px;
        left: 0;

        @include pad {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.title-border-deco-feature {
    &::after {
        content: "";
        position: absolute;
        background: white;
        width: 50px;
        height: 3px;
        left: 25px;
        bottom: -16px;
        transform: translateX(-50%);
        @include pad{
            background: $primary;
            left: 50%;
        }
    }
}