.title-border-deco {
    &::after {
        content: "";
        position: absolute;
        background: $primary;
        width: 50px;
        height: 3px;
        left: 50%;
        bottom: -16px;
        transform: translateX(-50%);
    }
}

.title-border-deco-advantage {
    &::after {
        content: "";
        position: absolute;
        background: $primary;
        width: 50px;
        height: 3px;
        bottom: -16px;
        left: 0;

        @include pad {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.title-border-deco-feature {
    width: 100%;
    &::after {
        content: "";
        position: absolute;
        background: white;
        width: 50px;
        height: 3px;
        left: 25px;
        bottom: -16px;
        transform: translateX(-50%);
        @include pad{
            background: $primary;
            left: 50%;
        }
    }
}

.title-border-deco-modal{
    display: flex;
    align-items: center;
    color: #c1c1c1;
    &::before{
        content: "";
        flex: 1;
        height: 1px;
        background: #c1c1c1;
        margin-right: 1rem;
    }
    &::after{
        content: "";
        flex: 1;
        height: 1px;
        background: #c1c1c1;
        margin-left: 1rem;
    }
}

.title-border-deco-classDetail {
    &::before {
        content: "";
        position: absolute;
        height: 27px;
        width: 2px;
        background: $primary;
        left: -9px;
    }
}

.title-border-deco-classDetail-longer {
    &::before {
        content: "";
        position: absolute;
        height: 27px;
        width: 2px;
        background: $primary;
        left: -9px;

        @include mobile-sm {
            height: 54px;
        }
    }
}