// 圖片替代文字
.logo-link {
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
}

// 英文字型
.Azeret-mono {
    font-family: "Azeret Mono";
}

// 字體大小
.fs-c-50 {
    font-size: 50px;
}
.fs-c-32{
    font-size: 32px;
}
.lh-c-37{
    line-height: 37px;
}
.lh-c-28{
    line-height: 28px;
}

// 字體顏色
.text-color-review {
    color: #494755;
}
.text-c-gray{
    color: #c1c1c1;
}

// margin
.ms-c-13{
    margin-left: 13px;
}
.ms-c-22{
    margin-left: 22px;
}
.me-c-22{
    margin-right: 22px;
}

// padding

.ps-c-114{
    padding-left: 114px;
}

// border color
.border-gray {
    border-color: #C1C1C1 !important;
}

// object-fit
.object-fit-cover {
    object-fit: cover;
}

// radius
.rounded-bottom-start-0 {
    border-bottom-left-radius: 0 !important;
}